<div class="row">
    <div class="col-1 col-md-12">
        <h1><strong>Spice your<br>Moods</strong></h1>&nbsp;
        <h3>Spicy Vegitable Soup</h3>&nbsp;
        <p style="color: brown;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni iste veniam
            fugiat suscipit
            accusantium
            beatae facilis soluta, consequuntur ad accusamus tempore quam repellat iusto ipsam est praesentium ullam
            harum.</p>
        <div class="row">
            <div class="col">
                <button type="button text-white" class="btn btn-xxl text-white rounded-pill"
                    style="background-color:brown;">
                    <b> View Menu</b> </button>

            </div>
            <div class="col-5 ">
                <button type="button text-dark" class="btn btn-xl-2x rounded-pill "
                    style="background-color:lightgray; color:brown"><b>Book a
                        Table</b></button>
            </div>

            <div class="row">
                <div class="col ">
                    <h4><b>Breakfast</b><br> 9.00 am - 11.00 am</h4>
                </div>
                <div class="col"><img src="assets/arrow.svg" class="container-fluid"></div>
            </div>

        </div>

        <div class="col-2 col-md-12">


            <img src="assets/image1.jpg" class="controller">
        </div>
    </div>
</div>